body {
  background: #D3D3D3;
  font-family: 'Varela Round';
}

.account {
  margin-left: 10px;
}

header {
  background: #FFFFFF;
  margin: auto;
  width: 90%;
}

header h1 {
  text-align: center;
}

header ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

header li {
  font-size: 1em;
  padding: 5px;
  margin-right: 10px;
  display: inline-block;
}

.navigation {
  margin: 20px 100px 40px 100px;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  font-size: 1.25em;
  padding: 20px;
  display: inline-block;
}

a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
  color: blue;
}

a {
  color: #000000;
  text-decoration: none;
}

