{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block head %}
  <title>Story Creator | Juicy Story</title>
  <link href="https://fonts.googleapis.com/css?family=Heebo|Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/storyCreator.css' %}">
{% endblock %}

{% block body %}

<form class="story" id="story" action="{% url 'upload:process_selected_images' instagram_user.username %}" method="post">
  {% csrf_token %}
  <div class="split left">
    <label>Select Pictures</label>
    </br>
    <i class="fa fa-camera-retro icon"></i><small>Click images to add to story</small>
    </br></br>
    {% if not images %}
    <ul>
      <li><div class="placeholder ratio">No images to display</div></li>
    </ul>
    {% endif %}
    <ul>
    {% for image in images %}
      <li><img src="{{ image.photo }}" height="288" width="162"></li>
    {% endfor %}
    </ul>
    </br>
  </div>

  <div class="split right">
    <div style="text-align: center">
      <label>Story</label>
      </br>
      <i class="fa fa-camera-retro icon"></i><small>Click images to remove from story</small>
      </br></br>
      
      <ul>
        <li><div class="placeholder ratio">No images to display</div></li>
      </ul> 
      <!--
      <ul>
      {% for image in images %}
        <li><img src="{{ image.photo }}" height="288" width="162"></li>
      {% endfor %}
      </ul>
      -->
    </div>
    <div><button>Schedule Story</button></div>
    </br></br>
  </div>
</form>

  <!--
	<form action="{% url 'upload:process_selected_images' instagram_user.username %}" method="post">
		{% csrf_token %}
    {% for image in images %}
	    <div>
          <input type="radio" name="img{{forloop.counter}}" value="{{image.photo}}">
	      	<img src="{{ image.photo }}" width="200px" height="200px">
	    </div>
    {% endfor %}

    <input type="date" name="date" value="Date">
    <input type="time" name="time" value="Time">
    <br><br>
    <input type="submit" name="action" value="Delete">
    <input type="submit" name="action" value="Upload">
  </form> -->
{% endblock %}