{% load staticfiles %}
{% load widget_tweaks %}
<html>
<head>
	<title>Login Juicy Story</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Heebo|Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic">
					<img src="{% static 'images/img-01.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="{% url 'entry:signup' %}" method="post">

					<span class="login100-form-title">
						Sign Up
					</span>

					{% csrf_token %}

					<div class="wrap-input100 validate-input" >
						{% render_field form.username class="input100" placeholder=form.username.label %}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						{% render_field form.password1 class="input100" placeholder=form.password1.label id="password" %}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						{% render_field form.password2 class="input100" placeholder=form.password2.label id="password" %}
						<p><span id="message" ></span></p>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" value="Sign up" class="login100-form-btn">
					</div>

					<div class="text-center">
						<a class="txt2" href="{% url 'entry:login' %}">
							Already have an account?
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
<!-- Javascript files -->
<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>