{% extends 'base_layout.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
	<title>Add Instagram Account | Juicy Story</title>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}

{% block body %}
<div class="container-login100">
	<div class="wrap-login100">
		<form class="login100-form validate-form" action="{% url 'iusers:add_iuser' %}" method="post">

			<h2>Add an Instagram Account</h2>

			{% csrf_token %}

			<div class="wrap-input100 validate-input" data-validate = "Invalid Username">
				{% render_field form.username class="input100" placeholder=form.username.label %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</span>
			</div>
			
			<div class="container-login100-form-btn">
				<input type="submit" class="login100-form-btn" value="Add">
			</div>

		</form>
	</div>
</div>
{% endblock %}