{% extends 'base_layout.html' %}

{% block head %}
<title>Instagram Account List | Juicy Story</title>
{% endblock %}

{% block body %}
<div class="container-login100">
	<div class="wrap-login100">
		<h2>Instagram Accounts</h2>
		<div class="wrapper">
			{% for iuser in iusers %}
			<div class="instagram-account">
				<a href="{% url 'image_board:list_images' iuser.username %}">{{ iuser.username }}</a>
			</div>
			{% endfor %}
			<form class="login100-form validate-form" action="{% url 'iusers:add_iuser' %}" method="post">
				{% csrf_token %}
				<div class="container-login100-form-btn">
					<input type="submit" class="login100-form-btn" value="Add Instagram Account">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}