{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Online CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link href="https://fonts.googleapis.com/css?family=Heebo|Lato" rel="stylesheet">

		<!-- Static CSS -->
		<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<!-- 
		<header>
			<div class="logo">
				<h1><a href="{% url 'home' instagram_user.username %}">Juicy Story</a></h1>
			</div>
			<div class="menu">
			<h4>User <a href="#">{{ instagram_user.username }}</a></h4>
				<ul>
					{% if request.user.is_authenticated %}
					
					<li><a href="{% url 'iusers:list_iusers' %}"> Instagram Account list</a></li>
					
					<li><form action="{% url 'users:logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">logout</button>
					</form></li>
					
					{% else %}
					
					<li><form action="{% url 'users:login' %}" method="post">
						{% csrf_token %}
						<button type="submit">login</button>
					</form></li>
					<li><form action="{% url 'users:signup' %}" method="post">
						{% csrf_token %}
						<button type="submit">signup</button>
					</form></li>
					{% endif %}
				</ul>
			</div>
		</header>
		-->
		<header>
      		<div class="menu">
        		<ul>
		          <li>{{ instagram_user.username }}</li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li>
		          <li><a href="{% url 'home' instagram_user.username %}"><img id="logo-pic" src="{% static 'images/logo1.png' %}" alt="alt"></a></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li><li></li><li></li>
		          <li></li>
		          <li><a href="{% url 'iusers:list_iusers' %}">My Accounts</a></li>
		          <li>|</li>
		          <form action="{% url 'users:logout' %}" method="post">
					{% csrf_token %}
					<input class="removeInput" type="submit" value="Log Out">
				  </form>
        		</ul>
      		</div>
      	</header>
		<div class="navigation">
			<ul>
				<li><a href="#">Dashboard</a></li>
				<li>|</li>
				<li><a href="{% url 'incoming:list_images' instagram_user.username %}">Incoming</a></li>
				<li>|</li>
				<li><a href="#">Stories</a></li>
				<li>|</li>
				<li><a href="#">Report</a></li>
				<li>|</li>
				<li><a href="{% url 'upload:list_selected_images' instagram_user.username %}">Story Creator</a></li>
			</ul>
		</div>
		{% block body %}
		{% endblock %}
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script type="text/javascript" src="https://unpkg.com/vue"></script>
   		<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    	<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
	</body>
</html>
