{% extends 'base_layout.html' %}
{% block content %}
	<h1>Home</h1>
	<h3>A list of the navigation, newsletter etc</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum vel numquam odit quae magni maiores accusantium, sed odio similique! Voluptas quas iure illum maiores nesciunt consectetur assumenda nulla hic quis.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore inventore aspernatur facilis magni ipsa consequuntur provident enim itaque. Sint culpa veniam aliquid commodi pariatur repellat temporibus, blanditiis vitae ex odit!</p>
{% endblock %}