{% extends 'base_layout.html' %}

{% block head %}
<title>Home | Juicy Story</title>
{% endblock %}

{% block body %}
	<div class="navigation">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li>|</li>
			<li><a href="#">Incoming</a></li>
			<li>|</li>
			<li><a href="#">Stories</a></li>
			<li>|</li>
			<li><a href="#">Report</a></li>
			<li>|</li>
			<li><a href="{% url 'image_board:list_selected_images' %}">Story Creator</a></li>
		</ul>
		</div>

		<div class="dashboard">
			
		</div>

		<div class="incoming">

		</div>

		<div class="stories">

		</div>

		<div class="report">

		</div>

		<div class="storycreator">

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
