{% if userdata %}
  <h3>{{userdata.username}}</h3>
  <img src={{userdata.profile_picture}}>
{% endif %}

<form action="{% url 'image_board:list_images' userdata.username %}" method="get">
  <input type="text" name="tag_or_location">
  <input type="submit" value="Submit">
</form>

{% if images %}
  {% for image in images %}
    <div>
      <img src={{image.images.standard_resolution.url}}>
    </div>
  {% endfor %}

{% elif places %}
  {% for place in places %}
    <form action="{% url 'image_board:list_images' userdata.username %}" method="get">
      {{place.name}}
      <input type="hidden" name="id" value="{{place.id}}">
      <input type="submit" value="Submit">
    </form>
    <p></p>
  {% endfor %}
  
{% endif %}
