@font-face {
  font-family: FontAwesome;
  src: url('../fonts/fonts-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
}

.selected img {
  width: 162px;
  height: 288px;
	padding: 10px;
	border-radius: 20px;
	opacity: 0.5;
  font-size: 80px;
}

.nonselected img {
  width: 162px;
  height: 288px;
	padding: 10px;
	border-radius: 20px;
}

.selected, .nonselected {
	position: relative;
}

#checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

#checkmark:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #CE2655;
}

#incoming ul {
	list-style-type: none;
}

#incoming li {
  display: inline-block;
}

.remove {
  display: none;
}

.imginfo {
	padding: 0 10px;
	font-family: 'Lato', sans-serif;
}

.allign {
  width: 100%;
  display: flex;
  justify-content: center;
}
