{% extends 'base_layout.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div>
  {% if userdata %}
    <img src={{userdata.profile_picture}}>
  {% endif %}
  <form action="{% url 'incoming:list_images' userdata.username  %}" method="get">
    <input type="text" name="tag_or_location">
    <input type="submit" value="Submit">
  </form>
</div>

{% if images %}
  {% for image in images %}
  <form action="{% url 'incoming:select_images' userdata.username %}" method="post">
    {% csrf_token %}
    <div>
      <img src="{{ image.images.low_resolution.url }}">
      <input type="text" id="{{ image.images.low_resolution.url }}" name="url">
    <input type="submit" value="Add">
    </div>
    <!-- Worst way possible -->
    <script type="text/javascript">
      document.getElementById('{{ image.images.low_resolution.url }}').value="{{ image.images.low_resolution.url }}";
      document.getElementById('{{ image.images.low_resolution.url }}').style.display = 'none';
    </script>
  </form>
  {% endfor %}

{% elif places %}
  {% for place in places %}
    <form action="{% url 'incoming:list_images' userdata.username %}" method="get">
      {{place.name}}
      <input type="hidden" name="id" value="{{place.id}}">
      <input type="submit" value="Submit">
    </form>
    <p></p>
  {% endfor %}
  
{% endif %}

{% endblock%}
