{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block head %}
  <title>Incoming | Juicy Story</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo|Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/incoming.css' %}">
{% endblock %}

{% block body %}
<div>
  <form class="allign" action="{% url 'incoming:list_images' userdata.username  %}" method="get">
    {% if userdata %}
    <img class="img-circle" src=" {{userdata.profile_picture}} ">
    {% endif %}
    <input type="text" name="tag_or_location" placeholder="search...">
    <input type="submit" value="Submit">
  </form>
</div>


  <div id="incoming">
    <!--  <h2 class="page-title">Incoming images</h2> -->
      <ul>
        {% for image in images %}
        <li>
          <div class="nonselected" id="{{ image.images.low_resolution.url }}" >
            <!-- height="288" width="162" -->
            <img src="{{ image.images.low_resolution.url }}">
            <div class="remove checkmark" id="{{forloop.counter}}"></div>
            <script type="text/javascript">
              function switchClass(){
                var element = document.getElementById('{{ image.images.low_resolution.url }}');
                element.classList.toggle("selected");
                element.classList.toggle("nonselected");
                var element = document.getElementById('{{forloop.counter}}');
                element.classList.toggle("remove");
              }

              document.getElementById('{{ image.images.low_resolution.url }}').onclick = switchClass;
            </script>   
          </div>
        </li>
         {% endfor %}
      </ul>

      <button style="color:white">Create Story</button>
  </div>
<!--
{% if images %}
  {% for image in images %}
  <form action="{% url 'incoming:select_images' userdata.username %}" method="post">
    {% csrf_token %}
    <div>
      <img src="{{ image.images.low_resolution.url }}">
      <input type="text" id="{{ image.images.low_resolution.url }}" name="url">
    <input type="submit" value="Add">
    </div>
    
    <script type="text/javascript">
      document.getElementById('{{ image.images.low_resolution.url }}').value="{{ image.images.low_resolution.url }}";
      document.getElementById('{{ image.images.low_resolution.url }}').style.display = 'none';
    </script>
  </form>
  {% endfor %}

{% elif places %}
  {% for place in places %}
    <form action="{% url 'incoming:list_images' userdata.username %}" method="get">
      {{place.name}}
      <input type="hidden" name="id" value="{{place.id}}">
      <input type="submit" value="Submit">
    </form>
    <p></p>
  {% endfor %}
  
{% endif %}
-->
{% endblock%}
